/* TODO Add site wide styles */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 11px;
  color: #e1eafd;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #034694, #6A7AB5);
}
