.tileContainer a {
  text-decoration: none;
  color: #DBA111;
  font-family: "Great Vibes", cursive;
}

.ProfileImage {
  max-height : 50px;
  max-width: 50px;
}

.tileContainer {
  color: #DBA111;
}
