.ProfileImage {
  width: 30px;
  border-radius: 15px;
}

span {
  margin: 5px 0;
}

.FollowShowContainer {
  display: block;
  width: 60px;
  background-color: #40A2D8;
  color: white;
}

.usernamee {
  color:#0B60B0;
  font-family: 'Lucida Sans', Arial, sans-serif;
}

.mainTitleContainner {
  margin-left: 8px;
}
