.ProfileImage {
  width: 30px;
  border-radius: 15px;
}

span {
  margin: 5px 0;
}

.FollowShowContainer {
  display: block;
  width: 60px;
  background-color: #26495c;
  color: white;
}

.usernamee {
  color:#c66b3d;
  font-family: 'Lucida Sans', Arial, sans-serif;
}
