.button-to {
  list-style: none;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;

}

.hidden {
  display:none;
}

.profile-dropdown {
  list-style: none;
  position: fixed;
  top: 50px;
  right: 10px;
  background-color: #0B60B0;
  padding: 10px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.LogoImage {
  max-width: 100px;
}

.navigationBar {
  background-color: #40A2D8;
  padding-bottom: 5px;
}

.button-link {
  display: inline-block;
  padding: 3px 3px;
  background-color: #c66b3d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.titlee {
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}
