.FollowUser {
  font-family: "Libre Baskerville", serif;
  color: #dcdde1;
}

.FollowName {
  font-family: "Libre Baskerville", serif;
  color: #dcdde1;
}

.FollowPageContainer {
  font-family: "Great Vibes", cursive;
  color: #DBA111;
}
