.MainPageContainer {
  color :#c4a35a;
  font-weight: bold;
}

.MainPageContain {
  color : #c66b3d;
}

.PersonalPosts {
  font-family: 'Lucida Handwriting', 'cursive', sans-serif;
  color: rgb(204, 203, 203);
  text-shadow: 2px 2px 2px #000;
}
