.PersonalPosts {
  color : #D1D3D4;
  font-family: 'Verdana', sans-serif;
}

.MainPageContainer {
  font-family: 'Helvetica Neue', sans-serif;
  color : #DBA111;
}

.MainPageContain {
  color: #D1D3D4;
}
