.ProfileImage {
  width: 30px;
  border-radius: 15px;
}

.printFirst {
  background-color:black;
  color: white;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  padding: 3px 3px 0px 3px;
}

.PrintBody {
  font-family: 'Source Sans Pro', sans-serif;
  color : #1c709c;
}

.editcomTitle {
  color : #0B60B0;
}

.EditComModal {
  text-align: center;
  border: 2px solid #0B60B0;
  padding: 50px 30px 50px 30px;
}

.DeleteModal {
  text-align: center;
  padding: 15px;
  border: 2px solid #0B60B0;
  box-sizing: border-box;
  padding: 50px 30px 50px 30px;
}

.createcomModal {
  text-align: center;
  padding: 15px;
  border: 2px solid #0B60B0;
  box-sizing: border-box;
}

.deleteTitle {
  color : #0B60B0;
}

.createcomModal {
  text-align: center;
  border: 2px solid #0B60B0;
  padding: 50px 30px 50px 30px;
}

.createcomTitle {
  color : #0B60B0;
}

.pagination {
  position: absolute;
  bottom: 50px;
  left: 48%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.CommentListContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100px;
}

.hello {
  margin-right: 10px;
}

.CreatedDate {
  margin-top: 3px;
}

.CommentLikess {
  margin-top: 5px;
}

.PrintBody {
  margin-top: 5px;
}
