.ProfileImage {
  width: 30px;
  border-radius: 15px;
}

.printFirst {
  color:#0B60B0;
  font-family: 'Lucida Sans', Arial, sans-serif;
}

.PrintBody {
  font-family: 'Source Sans Pro', sans-serif;
  color : #1c709c;
}

.editcomTitle {
  color : #0B60B0;
}

.EditComModal {
  text-align: center;
  border: 2px solid #0B60B0;
}

.DeleteModal {
  text-align: center;
  padding: 15px;
  border: 2px solid #0B60B0;
  box-sizing: border-box;
}

.deleteTitle {
  color : #0B60B0;
}

.createcomModal {
  text-align: center;
  border: 2px solid #0B60B0;
}

.createcomTitle {
  color : #0B60B0;
}

.pagination {
  position: absolute;
  bottom: 100px;
  left: 48%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
