.PrintBody {
  font-family: 'Open sans', sans-serif;
  color: #D1D3D4;
}

.CreatedDate {
  font-family: 'Helvetica Neue', sans-serif;
  color : #DBA111;
}

.PrintCommentContainer {
  font-family: 'Helvetica Neue', sans-serif;
  color : #DBA111;
}
