li {
  list-style: none;
  color : #26495c;
  font-weight: bold;
}

.createPostt {
  color : #0B60B0;
}

.CreatePostPageContainer {
  text-align: center;
}

.bodybox {
  height: 100px;
  width: 400px;
}

.titlebox {
  width: 300px;
  margin-bottom: 10px;
}

.imagebox {
  width: 300px;
  margin-bottom: 10px;
}
